/* technooff */
section.technooff {
  width:80%;
  height: 482px;
  margin: 50px auto;
  border: 1px solid #fecbcd;
  padding: 12px 12px 24px;
  border-radius: 20px;
}
div.technooff-banner {
  width: 99%;
  height: 53px;
  margin: 0 auto;
  background-color: #a2191f;
  border-radius: 0.5rem;
}
section.technooff > div.technooff-banner > h4 {
  text-align: right;
  height: 100%;
  width: 85%;
  display: inline-block;
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-size: 22px;
  padding: 10px 40px 10px 0;
}
section.technooff > div.technooff-banner >a> p {
  width: 14%;
  height: 100%;
  display: inline-block;
  color: white;
  font-weight: 300;

  font-size: 16px;
  text-align: left;
  vertical-align: middle;
  padding-bottom: 20px;
  font-weight: bold;
}
section.technooff > div.technooff-banner>a > p > svg {
  width: 50px;
  vertical-align: middle;
}
div.technooff-content {
  width: 95%;
  height: 374px;
  margin: 0 auto;
  padding: 16px 0px 0px;
}

/* technooff-content-slider */
section.technooff > div.technooff-content > div.swiper {
  width: 100%;
  height: 350px;
  margin: 10px auto;
}

section.technooff
  > div.technooff-content
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide {
  width: 190px;
  height: 100%;
  display: block;
  margin: 0 auto;
  font-size: 12px;
}

section.technooff
  > div.technooff-content
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > div.caption {
  width: 85%;
  margin: 0 auto;
  height: 25px;
  text-align:left;
  color: #dc2d36;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  padding: 0;

 

}
/* timer */
.timer {
  width:67%;
  height: 100%;
  display: inline-block;
  color: #dc2d36;
  font-size: 16px;
  font-family: monospace;
  display:inline-block;
  margin-right: 10px;
  padding: 0;
  


}

section.technooff
  > div.technooff-content
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > div.hr {
  width: 83%;
  height: 4px;
  background-color: #dc2d36;
  text-align: center;
  margin: 0 auto;
}
section.technooff
  > div.technooff-content
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > div.slide {
  border-left: 2px solid #c0c0c0;
  width: 100%;
  height: 100%;
  text-align: center;
}

section.technooff
  > div.technooff-content
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > div.slide
  > img {
  width: 186px;
  height: 186px;
  margin: 0 auto;
}
section.technooff
  > div.technooff-content
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > div.slide
  > a {
  color: #212121;
  display: inline-block;
  width: 186px;
  height:50px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  padding: 16px 0 0;
}

section.technooff
  > div.technooff-content
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > div.slide
  > div.after-price {
 padding: 24px 0 0;

  display: inline-block;
    
  height: 46px;
color: #020505;
font-size: 16px;
font-weight: bold;

}

section.technooff
  > div.technooff-content
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > div.slide
  > div.before-price {
    height: 28px;
  color: #929696;
  text-align: left;
  margin-left: 41px;
  font-size: 14px;
 padding-top:5px;
}
section.technooff
  > div.technooff-content
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > div.slide
  > div.before-price
  > span.before {
    display: inline-block;
    height:24px;
  text-decoration: line-through;
  font-size: 14px;
}

section.technooff
  > div.technooff-content
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > div.slide
  > div.after-price
  > span.off {
  display: inline-block;
  width: 29px;
  height: 19px;
  background-color: #dc2d36;
  color: white;
  font-size: 14px;
  font-weight: normal;
  margin-left: 20px;
}
